In [77]:
import pandas as pd

matches = pd.read_csv("c:\EXL\Traning\Python\matches.csv",index_col=0)

<>:3: SyntaxWarning: invalid escape sequence '\E'
<>:3: SyntaxWarning: invalid escape sequence '\E'
C:\Users\mitesh244826\AppData\Local\Temp\1\ipykernel_23516\2330844108.py:3: SyntaxWarning: invalid escape sequence '\E'
  matches = pd.read_csv("c:\EXL\Traning\Python\matches.csv",index_col=0)

In [78]:
matches.head(10)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
8,2021-09-25,12:30,Premier League,Matchweek 6,Sat,Away,W,1.0,0.0,Chelsea,...,Match Report,NaN,15.0,3.0,16.5,0.0,0.0,0.0,2022,Manchester City
10,2021-10-03,16:30,Premier League,Matchweek 7,Sun,Away,D,2.0,2.0,Liverpool,...,Match Report,NaN,12.0,3.0,16.8,1.0,0.0,0.0,2022,Manchester City
11,2021-10-16,15:00,Premier League,Matchweek 8,Sat,Home,W,2.0,0.0,Burnley,...,Match Report,NaN,16.0,6.0,14.6,0.0,0.0,0.0,2022,Manchester City
13,2021-10-23,17:30,Premier League,Matchweek 9,Sat,Away,W,4.0,1.0,Brighton,...,Match Report,NaN,23.0,13.0,15.7,1.0,0.0,0.0,2022,Manchester City
15,2021-10-30,15:00,Premier League,Matchweek 10,Sat,Home,L,0.0,2.0,Crystal Palace,...,Match Report,NaN,14.0,3.0,17.0,0.0,0.0,0.0,2022,Manchester City

In [79]:
matches['team'].value_counts()

team
Manchester United           72
West Ham United             72
Newcastle United            72
Brighton and Hove Albion    72
Southampton                 72
Tottenham Hotspur           71
Manchester City             71
Leeds United                71
Wolverhampton Wanderers     71
Arsenal                     71
Crystal Palace              71
Burnley                     71
Chelsea                     70
Aston Villa                 70
Leicester City              70
Everton                     70
West Bromwich Albion        38
Fulham                      38
Liverpool                   38
Sheffield United            38
Brentford                   34
Norwich City                33
Watford                     33
Name: count, dtype: int64

Data Cleaning

In [80]:
matches["date"] = pd.to_datetime(matches['date'])

In [81]:
matches["venue_code"] = matches['venue'].astype('category').cat.codes
matches['opp_code'] = matches['opponent'].astype('category').cat.codes
matches['Hours'] = matches['time'].str.replace(":.+","",regex=True).astype('int')
matches['Winner'] = (matches['result'] == "W").astype('int')
matches["day_code"] = matches['date'].dt.dayofweek

In [82]:
matches.head(5)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,Hours,Winner,day_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,1.0,0.0,0.0,2022,Manchester City,0,18,16,0,6
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,1.0,0.0,0.0,2022,Manchester City,1,15,15,1,5
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,0.0,2022,Manchester City,1,0,12,1,5
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,0.0,2022,Manchester City,0,10,15,1,5
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,1.0,0.0,0.0,2022,Manchester City,1,17,15,0,5

In [83]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
venue_code                int8
opp_code                  int8
Hours                    int64
Winner                   int64
day_code                 int32
dtype: object

Creating Initial ML model

In [84]:
from sklearn.ensemble import RandomForestClassifier

In [85]:
rf = RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=1)
train  = matches[matches['date'] < '2022-01-01']
test  = matches[matches['date'] >= '2022-01-01']
predictor = ['venue_code','opp_code','Hours','day_code']
rf.fit(train[predictor], train['Winner'])
preds = rf.predict(test[predictor])

In [86]:
preds

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [87]:
# test Initial Prection In excel
# test['Predicated'] = preds
# test.to_excel("Predicted_test.xlsx")

In [88]:
matches.head(5)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,Hours,Winner,day_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,1.0,0.0,0.0,2022,Manchester City,0,18,16,0,6
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,1.0,0.0,0.0,2022,Manchester City,1,15,15,1,5
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,0.0,2022,Manchester City,1,0,12,1,5
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,0.0,2022,Manchester City,0,10,15,1,5
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,1.0,0.0,0.0,2022,Manchester City,1,17,15,0,5

In [89]:
from sklearn.metrics import accuracy_score 
acc = accuracy_score(test['Winner'],preds)
acc

0.6134751773049646

In [90]:
combine = pd.DataFrame(dict(actual = test['Winner'], Predicted = preds))
pd.crosstab(index=combine['actual'],columns=combine['Predicted'])

Predicted    0   1
actual
0          144  31
1           78  29

In [91]:
from sklearn.metrics import precision_score
precision_score(test['Winner'],preds) * 100

48.333333333333336

In [92]:
group = matches.groupby("team")
group.get_group('Manchester City')

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,Hours,Winner,day_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,1.0,0.0,0.0,2022,Manchester City,0,18,16,0,6
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,1.0,0.0,0.0,2022,Manchester City,1,15,15,1,5
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,0.0,2022,Manchester City,1,0,12,1,5
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,0.0,2022,Manchester City,0,10,15,1,5
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,1.0,0.0,0.0,2022,Manchester City,1,17,15,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,2021-05-01,12:30,Premier League,Matchweek 34,Sat,Away,W,2.0,0.0,Crystal Palace,...,1.0,0.0,0.0,2021,Manchester City,0,6,12,1,5
56,2021-05-08,17:30,Premier League,Matchweek 35,Sat,Home,L,1.0,2.0,Chelsea,...,0.0,0.0,1.0,2021,Manchester City,1,5,17,0,5
57,2021-05-14,20:00,Premier League,Matchweek 36,Fri,Away,W,4.0,3.0,Newcastle Utd,...,1.0,0.0,0.0,2021,Manchester City,0,14,20,1,4
58,2021-05-18,19:00,Premier League,Matchweek 37,Tue,Away,L,2.0,3.0,Brighton,...,1.0,0.0,0.0,2021,Manchester City,0,3,19,0,1
59,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,5.0,0.0,Everton,...,0.0,0.0,0.0,2021,Manchester City,1,7,16,1,6

In [93]:
def rolling_Averages(group, col,new_col):
    group = group.sort_values('date')
    rolling_stats = group[col].rolling(3,closed = 'left').mean()
    group[new_col] = rolling_stats
    group = group.dropna(subset=new_col)
    return group

In [94]:
col = ['gf','ga','sh','sot','dist','fk','pk','pkatt']

new_col = [f'{c}_rolling' for c in col]
new_col

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [95]:
matches_rolling = matches.groupby("team").apply(lambda x : rolling_Averages(x,col,new_col))

matches_rolling = matches_rolling.droplevel('team')
# matches_rolling.index = range(matches_rolling.shape[0])
matches_rolling  = matches_rolling.reset_index(drop=True)
matches_rolling.head(5)

C:\Users\mitesh244826\AppData\Local\Temp\1\ipykernel_23516\1095111289.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  matches_rolling = matches.groupby("team").apply(lambda x : rolling_Averages(x,col,new_col))

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,Winner,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,1,6,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
1,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,0,5,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
2,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,0,6,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
3,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,1,6,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
4,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,0,6,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333

In [116]:
matches_rolling[matches_rolling['date'] >= '2022-01-01'].shape

(282, 40)

Retraining ML Model

In [111]:
def make_prediction(data, predictor):
    train = data[data['date'] < '2022-01-01']
    test = data[data['date'] >= '2022-01-01']
    rf.fit(train[predictor],train['Winner'])
    preds = rf.predict(test[predictor])
    combine = pd.DataFrame(dict(actual=test['Winner'],Predicted=preds),index=test.index)
    precision = precision_score(test['Winner'],preds)
    return combine,precision

In [112]:
combine, prediction = make_prediction(matches_rolling,predictor+new_col)

In [113]:
prediction * 100

62.5

In [114]:
combine

      actual  Predicted
54         0          0
55         0          0
56         1          0
57         1          0
58         1          1
...      ...        ...
1312       1          0
1313       0          0
1314       1          0
1315       0          0
1316       0          0

[282 rows x 2 columns]

In [115]:
combine.shape

(282, 2)

In [101]:
pd.crosstab(index=combine['actual'],columns=combine['Predicted'])

Predicted    0   1
actual
0          157  18
1           77  30

In [102]:
combine = combine.merge(matches_rolling[["date",'team','opponent','Winner']], left_index=True,right_index=True)
combine.head(3)

    actual  Predicted       date     team         opponent  Winner
54       0          0 2022-01-01  Arsenal  Manchester City       0
55       0          0 2022-01-23  Arsenal          Burnley       0
56       1          0 2022-02-10  Arsenal           Wolves       1

In [103]:
class MissingDict(dict):
    __missing__ = lambda self, key: key
    
map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [104]:
combine['new_team'] = combine['team'].map(mapping)

In [105]:
#join to it self to if both team predict winner
merged = combine.merge(combine, left_on=['date','new_team'],right_on=['date','opponent'])
merged.head(2)

,actual_x,Predicted_x,date,team_x,opponent_x,Winner_x,new_team_x,actual_y,Predicted_y,team_y,opponent_y,Winner_y,new_team_y
0,0,0,2022-01-01,Arsenal,Manchester City,0,Arsenal,1,0,Manchester City,Arsenal,1,Manchester City
1,0,0,2022-01-23,Arsenal,Burnley,0,Arsenal,0,0,Burnley,Arsenal,0,Burnley

In [106]:
#point to investigate 
merged[merged['Predicted_x'] == merged['Predicted_y']].head(5)

,actual_x,Predicted_x,date,team_x,opponent_x,Winner_x,new_team_x,actual_y,Predicted_y,team_y,opponent_y,Winner_y,new_team_y
0,0,0,2022-01-01,Arsenal,Manchester City,0,Arsenal,1,0,Manchester City,Arsenal,1,Manchester City
1,0,0,2022-01-23,Arsenal,Burnley,0,Arsenal,0,0,Burnley,Arsenal,0,Burnley
2,1,0,2022-02-10,Arsenal,Wolves,1,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,0,Wolves
3,1,0,2022-02-19,Arsenal,Brentford,1,Arsenal,0,0,Brentford,Arsenal,0,Brentford
6,1,1,2022-03-13,Arsenal,Leicester City,1,Arsenal,0,1,Leicester City,Arsenal,0,Leicester City

In [108]:
merged[(merged['Predicted_x'] == 1) & (merged['Predicted_y'] == 0)]['actual_x'].value_counts().reset_index(name="Count")

   actual_x  Count
0         1     27
1         0     13

In [109]:
(27/40)*100

67.5

<!-- Reference Link : https://www.youtube.com/watch?v=0irmDBWLrco -->

<!-- https://www.youtube.com/watch?v=0irmDBWLrco -->
#cc